.box1 {
  background-color: tomato;
}
.box2 {
  background-color: limegreen;
}
.box3 {
  background-color: #ffaa33;
}
.box4 {
  background-color: rgba(108, 58, 110, 0.685);
}
.box5 {
  background-color: olive;
}
.box6 {
  background-color: magenta;
}
